

body {
background-color: #517c18;
margin: 0 5%;
font-family: times new roman;
}

h1 {
color: #e5e8e1;
text-align: center;
font-family: roman;
font-weight: big;
text-transform: uppercase;
border-bottom: 3px solid #e5e8e1;
margin-top: 30px;
border-top: 3px solid #e5e8e1;
border-right: 3px solid #e5e8e1;
border-left: 3px solid #e5e8e1;
border-radius: 3px;
border-bottom-width: 2px;
}

h2 {
color: #e5e8e1;
font-size:1em;
text-align: left;
font-family: times new roman; }

h3 {
color: #e5e8e1;
font-size:1.5em;
text-align: left;
font-family: times new roman; }

h4 {
color: #e5e8e1;
font-size:2em;
text-align: center;
font-family: times new roman; }

h5 {
color: #e5e8e1;
font-size:0em;
text-align: right;
margin: 0 0%;
font-family: times new roman;
}

p {
color: 00;
font-size: big;
font-family: times new roman;
}

/* hyper-link style */
a:link {
    color: #e5e8e1;
text-decoration: none;
}
a:visited {
    color: #d88c00;
text-decoration: none;
}
a:hover {
color: #e5e8e1;
    text-decoration: underline;
}

